@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Store";
}
<div class="background-image">
    <div class="store-content">
        <h1 class="my-4" style="color: lightcoral">Store</h1>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-3">
                    <div class="card my-2 store-card">
                        <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                            <img src="@book.FrontPage" alt="Alternate Text" class="card-img-top card-img-custom" />
                            <div class="card-body" style="height: 6em;">
                                <h5 class="mb-3">@book.Title</h5>
                            </div>
                            <div class="card-body">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="@Url.Action("IndexById", "Store", new { id = book.Id })" id="customLink" class="btn float-right">
                                        <i class="fa-solid fa-cart-shopping" style="color: #f03853;"></i>
                                    </a>
                                }
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
